
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 30px;
  line-height: 1.6;
}

h1, h2, h3 {
  color: #333;
}

section {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  padding: 8px;
  margin: 5px 0;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

input[readonly] {
  background-color: #fff;
  cursor: default;
}

button {
  padding: 8px 12px;
  margin: 5px 0;
  font-size: 1em;
  background-color: #031bf8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #061bd8;
}

.result {
  margin-top: 10px;
  font-weight: bold;
  color: #2b2b2b;
}

#horloge {
  font-size: 2em;
  text-align: center;
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: 2px solid #333;
  background-color: rgb(14, 11, 219);
}

p {
  margin-top: 10px;
}

h2 {
  margin-top: 20px;
}

div {
  margin-top: 10px;
}
